*{
text-align: center;
padding: 0;
margin: 0;
}
.container .header h1{
 font-size: 50px;
 font-family: arial;
}
.container .content p{
font-size: 18px;
font-family: sans-serif;
}
.container .copy p{
font-size: 13px;
font-family: sans-serif;
}
