*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .main_body .heading-icon{
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 10px;
}
.content{
    font-size: 20px;
    position: relative;
    padding: 10px;
}
.copy{
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif,;
}
