*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#nav{

}

#nav li{
display: inline-block;
position: relative;
}

#nav li a{
    color: white;
    padding: 0 24px;
    line-height: 44px;
    text-decoration: none;
    display: inline-block;
}
#nav li:hover a{
 background-color: gray;
 color:wheat;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
}
#nav .subnav a{
    text-align: center;
    color: #000;

}
#nav > li > a,
#nav .subnav li:hover a{
  color: black;
  background-color: #ccc;
}

#nav li:hover .subnav{
   display: block;
}

#header{
 background-color: black;
 height: 44px;
 width: 100%;
 position: fixed;
}

#slider{
background-color: #333;
min-height: 450px;
}

#content{
    text-align: center;
}

#content p{
    font-size: 30px;
    margin-top: 30px;

}
#content b{
    font-size: 12px;
}


