*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#nav{

}

#nav li{
display: inline-block;

}

#nav li a{
    color: white;
    padding: 0 24px;
    line-height: 44px;
    text-decoration: none;
    display: inline-block;
}
#nav li:hover a{
 background-color: gray;
 color:wheat;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
}
#nav .subnav a{
    text-align: center;
    color: #000;

}
#nav > li > a,
#nav .subnav li:hover a{
  color: black;
  background-color: #ccc;
}

#nav li:hover .subnav{
   display: block;
}

#header{
   background-color: black;
   height: 44px;
   width: 100%;
   position: fixed;
}

#slider{
    padding-top: 50%;
    color: white;
    background: url("/assets/img1.jpg") top center / cover no-repeat;
}

#content{
   margin-left: 5px;
}

#content p{
    font-size: 20px;
    margin-top: 10px;

}


